{% extends "base_form.html" %}
{% block page_title %}Изменить пароль{% endblock %}
{% block action_url %}{% url 'users:password_change_done' %}{% endblock %}
{% block form_content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Пароль изменён
        </div>
        <div class="card-body">
          <p>Пароль изменён успешно</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
</div>
{% endblock %}